* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;

    &:hover {
        color: brown;
    }
}


.is-active {
    background-color: black;
    color: white;
    font-weight: bolder;
}